<h2>Sign in</h2>

<% form_for(:session, :url => sessions_path) do |f| %>

    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= f.label :password %><br />
    <%= f.password_field :password %>

<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>