<%= form_tag track_path(@track.id), method: 'put', :class => "track_drag" do %>
  <%= text_field_tag(:title , @track.name)%>
    <% @checked_courses.each do |course| %>
      <%= check_box_tag("course[#{course.id}]", course.id, checked=true)%>
      <%= label_tag("course[#{course.id}]", course.name)%>
    <%end%>
     <% @all_courses.each do |course| %>
      <%= check_box_tag("course[#{course.id}]", course.id)%>
      <%= label_tag("course[#{course.id}]", course.name)%>
    <%end%>
    <%= hidden_field_tag(:position)%>
  <%= submit_tag %>
<%end%>

<div class="container">

  <div id="row_course_selection"  class="row">
  <% @checked_courses.each do |course| %>
    
    <%= render partial: "courses/course_grid", locals: {course: course} %>   


  <% end %>
   
  </div>

  <div id="sidebar_course_choices" class="sidebar">
   <% @all_courses.each do |course| %>
       <%= render partial: "courses/course_sidebar", locals: {course: course} %>
   <% end %>
    
   
  </div>

</div>