
<%= form_tag category_tracks_path, :class => "track_drag" do %>
  <%= label_tag "test", "test" %>
  <%= text_field_tag(:name)%>
  <%= text_area_tag(:description)%>
    <% @courses.each do |course| %>
      <%= check_box_tag("course[#{course.id}]", course.id)%>
      <%= label_tag("course[#{course.id}]", course.name)%>
    <%end%>
    <%= hidden_field_tag(:order)%>
  <%= submit_tag %>
<%end%>


<div class="container" ng-app="tracksApp">

  <div id="row_course_selection"  class="row">

  </div>

  <div id="sidebar_course_choices" class="sidebar" ng-controller="newTrack">
    <input ng-model="courseSearch" class="search_bar_courses">
     <li ng-repeat="course in courses | filter:courseSearch" data-id="{{course.id}}" class="col-xs-12 col-md-12">
      <div class="thumbnail course_box">
        <div><img class="logo center-block" src="{{course.platform.logo_url}}" alt=""></div>
        <div><a href="{{course.url}}" target="_blank">{{course.name}}</a></div>
    </li>
  </div>



</div>

</div>
