
<%= form_tag category_tracks_path, :class => "track_drag" do %>
  <%= label_tag "test", "test" %>
  <%= text_field_tag(:title)%>
    <% @courses.each do |course| %>
      <%= check_box_tag("course[#{course.id}]", course.id)%>
      <%= label_tag("course[#{course.id}]", course.name)%>
    <%end%>
    <%= hidden_field_tag(:position)%>
  <%= submit_tag %>
<%end%>


<div class="container">

  <div id="row_course_selection"  class="row">

   
  </div>

  <div id="sidebar_course_choices" class="sidebar">
   <% @courses.each do |course| %>
       <li data-id="<%= course.id %>" class="col-xs-12 col-md-12">
        <div class="thumbnail course_box">
          <div><%= course.name %></div>
          <div><span>Rating</span> <%= star(course.rating) %></div>
          <div><span>Difficulty</span> <%= rocket(course.difficulty) %> </div>
        </div>
      </li>
   <% end %>
    
   
  </div>

</div>
