<div ng-app="trackApp">
  <h1><%= @track.name%></h1>
  <i> by <%=@track.owner.name%>, taken by <%=@count%> users </i>

  <%= link_to 'Fork', "/tracks/#{@track.id}/fork", method: 'post'%>
  <%= link_to 'Follow', "/tracks/#{@track.id}/follow", method: 'post'%>

  <div ng-controller="coursesCtrl">
    <input type="text" ng-model="search" placeholder="Search course">
    <div class="row">
        <div ng-repeat="course in courses | filter:search" class="col-xs-6 col-md-3">
          <div class="course-box thumbnail">
            <a href="{{course.url}}" target="_blank">{{course.name}}</a>
            <span><%= link_to '✓', '/courses/{{course.id}}/check', method: 'post' %></span>
            <span><%= link_to 'X', '/courses/{{course.id}}/uncheck', method: 'post' %></span>
          </div>
        </div>
    </div>
  </div>