<div>
  <h1><%= @track.name%></h1>
  <p><%= @track.description%> </p>
  <% if @owner %>
     <i> forked from <%=link_to @owner.name, @owner%>, taken by <%=@count%> users </i>
  <% else %>
    <i> by <%=@track.owner.name%>, taken by <%=@count%> users </i>
  <%end%>


  <% if @track.user_id == session[:user_id] %>
    <%= link_to 'Edit', edit_track_path%>
  <%else%>
    <%= link_to 'Fork', "/tracks/#{@track.id}/fork", method: 'post'%>
    <%= link_to 'Follow', "/tracks/#{@track.id}/follow", method: 'post'%>
  <%end%>


  <ul class="list-group container">
    <div class="row">  <li class="list-group-item col-xs-6 col-md-3"><h1>Progress Stats</h1>
      <span class="right-block">1</span> <span class="right-block">/ 14 Courses</span>

    </li></div>
  </ul>

  <div class="row">
    <% @track.courses.each do |course|%>

    <div class="col-xs-6 col-md-3">
      <div class="course-box thumbnail">
        <a href="<%=course.url%>" target="_blank"><%=course.name%></a>

        <div class="check_function">
        <% if course.users.find_by(id: current_user.id) %>
          <div data-id="<%= course.id %>" draggable="false" class="checked_off center-block">
            <i class="fa fa-check check"></i>
          </div>
          <% else %>
          <div data-id="<%= course.id %>" draggable="false" class="checked_on center-block">
            <i class="fa fa-check check"></i>
          </div>
          <% end %>

        </div>

      </div>
    </div>


  <%= render partial: "reviews/new", locals: {course: course, review: @review} %>
    <% end %>
  </div>
</div>


