<li data-id="<%= course.id %>" class="col-xs-6 col-md-3">
<div class="thumbnail course_box">
  <div><img class="logo center-block" src="<%= course.platform.logo_url %>" alt=""></div>
  <div><%= course.name %></div>
  <div><span>Rating</span> <%= star(course.rating) %></div>
  <div><span>Difficulty</span> <%= rocket(course.difficulty) %> </div>
</div>
</li>